.html
{
    color: red;
    font-size:medium;
    font-family: 'Courier New', Courier, monospace;
}
.js
{
    color: #0000ff;
    font-size:large;
    font-family: 'Courier New', Courier, monospace;
}