.body{
    background-color: rgb(255, 25, 0);
}
h4{
    margin: 10px;
}
.nagłówek{
    width: auto;
    height: auto;
    background-color:aqua;
    border: solid black;
    border-width: 5px;
    margin: 50px;
    padding :10px
}
.prace,.nauka,.projekty{
    margin: 10px;
    width: auto;
    height: auto;
    background-color:rgb(229, 255, 0);
    border: solid black;
    border-width: 3px;
  
}
.unnumerateList{
    font-family: Arial, Helvetica, sans-serif;
    color : black;
    font-weight: 500;
}
.numerateList
{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(7, 12, 101);
    font-weight: 400;
}
