.header
{
    background-color: aliceblue;
    width: auto;
    height: auto;
}
.main
{
    background-color: lightyellow;
    width: auto;
    height: auto;
}
.footer
{
    background-color: lightblue;
    width: auto;
    height: auto;
}