.kwadrat
{
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-color: black;
    width: calc(100%);
}
.pasek
{
    background-color: green;
    width: calc((50% - 20px));
    height: calc((100% - 20px));
}
